<body>
<nav class="navbar  navbar-expand-md bg-dark navbar-dark ">
  <a class="navbar-brand"  routerLink="appareils">ZAPPAREILS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="auth">Se connecter </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="appareils">les appareils</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
</body>