<div class="col-xs-12">
    <h2>mes appareils</h2>

    <p>MAJ : {{ lastUpdate | async | date: 'd/MM/y' }}</p>
    <ul class="list-group">
      <!--*ngfor=> directive -->
      <!--[appareilName]=> property binding -->
      <app-appareil *ngFor="let appareil of appareils; let i = index"
       [indexOfAppareil]="i"
       [appareilName]="appareil.name"
       [appareilStatus]="appareil.status"></app-appareil>
     <!-- <app-aparail [appareilName]="appareilOne" [appareilStatus]="'off'"></app-aparail>
      <app-aparail [appareilName]="appareilTwo" [appareilStatus]="'on'"></app-aparail>
     -->
    </ul> 
    <!-- ce bouton sera désactiver si la variable isAuth est vrai -->
    <br>
    <button class="btn btn-success" 
      [disabled]="!isAuth"
      (click)="onAllumer()">allumer</button>

    <button class="btn btn-danger"
    (click)="onEteindre()">All off</button>
  </div>